h1 {
    display: inline;
    border: 2px solid darkgray;
    padding: 10px;
    background: white;
    display: flex;
    justify-content: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

html {
    background-color: #DCDCDC;
    font-family: 'Arial';
}

#yukonimage {
    max-width: 100%;

    display: flex;
    justify-content: center;
    float: center;
    padding: 10px;
}

img:hover {
    cursor: pointer;
}

#welcome {
    color: #000000;
    text-align: center;
}

body {
	color: #71706E;
	margin: 0px;
	width: auto;
	font-size: 16px;
}

button {
    border: 1px outset darkgray;
    background-color: gray;
    color: white;
    cursor: pointer;
}

button:hover {
   background-color: darkgray;
   color: white;
}

button[value="chat"] {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 37%;
    font-size: 30px;
}

button[value="send"] {
    float: left;
    height: 32px;
    width: 10%;
}

button[value="home"] {
    float: right;
    height: 32px;
    width: 10%;
}

#message {
    display: inline;
    border: 2px solid darkgray;
    padding: 10px;
    background: white;
}

input[type="text"] {
    padding: 7px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type="text"]:focus {
    border-color: #fff;
}
