html {
    background-color: #DCDCDC;
    font-family: 'Arial';
}

#yukonimage {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    padding-right: 75px;
}

head {
    text-align: center;
    background-color: #F5F5F5;
}

body {
    padding-left: 75px;
    text-align: left;
	color: #71706E;
	margin: 0px;
	width: auto;
	font-size: 16px;
}

#button {
    border: 1px outset darkgray;
    background-color: gray;
    height: 35px;
    width: 10%;
    color: white;
    cursor: pointer;
}
#button:hover {
   background-color: darkgray;
   color: white;
}

#message {
    display: inline;
    border: 2px solid lightgray;
    padding: 10px;
    background: white;
}


input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


input[type="text"]:focus {
    border-color: #fff;
}
